Source: svgtune
Section: graphics
Priority: optional
Maintainer: Yaroslav Halchenko <debian@onerussian.com>
Build-Depends: debhelper (>= 10), dh-sequence-python3, help2man, python3, python3-lxml
Standards-Version: 4.5.0
Homepage: http://github.com/yarikoptic/svgtune
Vcs-Git: git://github.com/yarikoptic/svgtune.git -b debian
Vcs-Browser: http://github.com/yarikoptic/svgtune


Package: svgtune
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-lxml
Suggests: inkscape
Description: tool to generate a set of .svg files out of a single .svg file
 svgtune is a little helper to generate a set of .svg files out
 of a single .svg file, by tuning respective groups/layers visibility,
 transparency or anything else.
 .
 It might come very handy for generation of incremental figures to be
 embedded into the presentation in any format which inkscape could
 render using original .svg file (e.g. pdf, png).
